<!DOCTYPE html>
<html>
  <head>
    <title>TurboFramesVsTurboStreams</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-lg border-gray-200">
    <header>
      <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
          <a href="/" class="flex items-center">
            <span class="mr-4">🤓</span>
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">MegaSite</span>
          </a>
        </div>
      </nav>
    </header>
    <main class="container w-1/2 mx-auto mt-28 px-5 flex justify-center flex-col">
      <%= yield %>
    </main>
  </body>
</html>
